
/* 
* Theme-Specific Styles
*/


/* Globals */
/* ----------------------------------------- */

@font-face {
	font-family: 'dezen';
	src: url('dezen_pro_regular.eot');
	src: url('dezen_pro_regular.eot?#iefix') format('embedded-opentype'), url('dezen_pro_regular.svg#dezen_pro_regularregular') format('svg'),  url('dezen_pro_regular.woff') format('woff'), url('dezen_pro_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
}

body {
	background:url(../images/main-bg.gif) top left repeat-x #dbd8cd;
	font-size:11px;
}

p {
	margin-bottom: 10px;
	line-height: 1.4em;
	font-size: 11px;
}

ul {
}

ul li {
}

a {
	text-decoration: none;
	color:#0081ab;
}

a:hover {
	text-decoration:underline;
}

a:active {
}

.uppercase {
	text-transform:uppercase !important;
}

.float-right {
	float: right;
	margin: 0 0 10px 10px;
}

.float-left {
	float: left;
	margin: 0 10px 10px 0;
}

.clearfloat {
	clear: both;
}

img.img-style {
	background: #fff;
	border: 1px solid #ccc;
	padding: 1px;
	-moz-box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
	box-shadow: 0 0 1px #ccc;
}

/* Header */

header {
	background:#666666;
	box-shadow:0px 0px 10px #000;
	position: relative;
	z-index: 9999;
	padding-top:10px;
}

.landing header {
	background:none;
	box-shadow:none;
	padding:0;
}

.header-nav {
	position:absolute;
	top:10px;
	right:0;
}

.header-nav li {
	display:inline;
	border-right:1px solid #fff;
    margin-right: 3px;
    padding-right: 5px;
}

.header-nav li:last-child {
	border:none;
}

.header-nav li a {
	color:#fff;
	font-family:'dezen',Arial, Helvetica, sans-serif;
	font-size:13px;
		text-transform:uppercase;
}

.header-nav li.current-menu-item a {
	color:#c4e4a5;
}

.st_sharethis {
	position:absolute;
	right:15px;
	top:40px;
}

.stButton .sharethis {
	color:#fff !important;
}

/* Main Nav */

#megaMenu ul li.ss-nav-menu-reg > li.megaReg-with-sub > a::after, #megaMenu ul li.mega-with-sub > a::after, #megaMenu ul li.ss-nav-menu-mega > a::after, #megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator::after, #megaMenu ul li.mega-with-sub > span.um-anchoremulator::after, #megaMenu ul li.ss-nav-menu-mega > span.um-anchoremulator::after {
	display:none;
	border:none !important;
}

#megaMenu ul.megaMenu li {
	margin-right:8px !important;
}

#megaMenu ul.megaMenu li:hover, #megaMenu ul.megaMenu li.current-page-ancestor, #megaMenu ul.megaMenu li#menu-item-112.current-menu-item {
	background:#f3f1ee;
	border-radius:5px 5px 0 0;
}

#megaMenu ul.megaMenu li#menu-item-112.current-menu-item > a {
	color:#666 !important;
}

#megaMenu ul.megaMenu li:hover  #megaMenu ul.megaMenu li:hover a {
}

#megaMenu ul.megaMenu li:last-child {
	margin-right:0 !important;
}

#megaMenu ul.megaMenu > li:hover, #megaMenu ul.megaMenu > li.megaHover, #megaMenu ul.megaMenu > li:hover > a, #megaMenu ul.megaMenu li.current-page-ancestor > a {
	color:#666 !important;
}

#megaMenu ul.megaMenu > li > a {
	color:#fff !important;
	text-align:center;
	font-size:14px;
	font-family:'dezen', Arial, Helvetica, sans-serif;
	text-transform:uppercase !important;
}

#megaMenu ul.megaMenu .wpmega-item-description {
	font-size:13px !important;
	text-transform:lowercase !important;
}

#megaMenu ul.megaMenu li#menu-item-374 {
	position:absolute;
	top:-26px;
	z-index:999;
	left:-8px;

}


#megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li#menu-item-374 > a {
		font-weight:bold;
	font-size:14px !important;
	text-transform:uppercase !important;
	color: #0081ab !important;
	background:none;
}

#megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li#menu-item-374 > a:hover, #megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li#menu-item-374:hover {

}

#megaMenu ul li.ss-nav-menu-mega ul.sub-menu > li#menu-item-374:hover > a {
		color:#666 !important;
	background:none !important;
}
/* Sub Menu Headers */

#megaMenu ul li.ss-nav-menu-mega ul li.ss-nav-menu-item-depth-1 {
	padding:11px 6px !important;
	margin-top:20px;
}

#megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li > a {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #ffffff;
	padding-bottom: .4em;
	border-bottom:none;
	margin-bottom: 0.6em;
	background:#908f8f;
	text-transform:uppercase !important;
	padding:2px 10px;
	width:105%;
}

#megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu > li:hover, #megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu ul.sub-menu > li:hover, #megaMenu ul li.ss-nav-menu-reg ul.sub-menu li:hover {
	background:transparent;
	border-radius:0;
}

#megaMenu ul.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li#menu-item-124 > a {
	padding-right:0;
	width:145%;
}

#megaMenu ul li.ss-nav-menu-mega ul.sub-menu li a, #megaMenu ul li.ss-nav-menu-mega ul.sub-menu li#menu-item-124 span.um-anchoremulator {
	width:145%;
}

#megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li a, #megaMenu ul ul.sub-menu li a {
	font-weight:bold;
	font-size:12px;
	padding-left:10px;
	border-bottom: 1px dotted #999;
	text-transform:lowercase !important;
}

#megaMenu ul ul.sub-menu li.current-menu-item a {
	color:#666 !important;
}

#megaMenu ul li.ss-nav-menu-mega ul.sub-menu > li:hover > a {
	background:#908f8f !important;
}

#megaMenu ul li.ss-nav-menu-mega ul.sub-menu ul.sub-menu-2 > li:hover > a, #megaMenu ul li.ss-nav-menu-reg ul.sub-menu li a:hover {
	background:transparent !important;
	color:#666;
}

#megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item > ul.sub-menu.sub-menu-1 {
	background:url(../images/dropdown-bg.png) repeat;
	border-radius:0px 0px 3px 3px !important;
	-webkit-box-shadow:0px 3px 5px #999;
	-moz-box-shadow:0px 3px 5px #999;
	box-shadow:0px 3px 5px rgba(0,0,0,0.6);
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

#megaMenu.wpmega-nojs li.ss-nav-menu-mega ul.sub-menu.sub-menu-1, #megaMenu.megaFullWidthSubs li.ss-nav-menu-mega ul.sub-menu.sub-menu-1, #megaMenu li.ss-nav-menu-mega.ss-nav-menu-mega-fullWidth ul.sub-menu.sub-menu-1 {
	left: 18px !important;
	width: 96% !important;
}

/* Sub Nav */

.subnav ul, .subnav h3 {
	width:94%;
}

.subnav ul li {
	margin:0;
	border-bottom:1px dotted #999999;
	padding:3px 0 0 5px;
}

.subnav ul li a {
	text-transform:lowercase;
	font-weight:bold;
}

.subnav ul li a:hover {
	text-decoration:underline;
	color:#0081ab;
}

.subnav ul li.current-menu-item a, .subnav ul li.current-page-ancestor a {
	color:#666;
}

.subnav {
	background:url(../images/subnav-divide.gif) no-repeat 100% 0%;
}

.subnav h3 {
	font-size:12px;
	font-weight:bold;
	border-bottom:1px dotted #999999;
	padding:3px 0;
	margin:0;
	text-transform:uppercase;
}

.breadcrumbs a, .breadcrumbs p {
	text-transform:uppercase;
	color:#999;
	font-size:11px;
	margin:5px 0 30px 0;
}

.breadcrumbs a {
	font-weight:bold;
}

/* Slideshow */

.slideshow img {
	margin:0 auto;
	display:block;
}

.slideshow-wrap {
	background:#e4e2d9;
	padding:15px 15px 0 15px;
	-moz-box-shadow:3px 3px 5px #333;
	-webkit-box-shadow:3px 3px 5px #333;
	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	position:relative;
}

#prev, #next {
	background:url(../images/slideshow-pager.png) no-repeat;
	width:56px;
	height:113px;
	text-indent:-9999em;
	position:absolute;
	top:30%;
	z-index:999;
	opacity:.8;
}

#prev:hover, #next:hover {
	cursor:pointer;
	opacity:1;
}

#prev {
	left:0;
}

#next {
	background-position:-65px 0;
	right:0;
}

/* Home */

.home-banner {
	width:983px;
	background:#73c167;
	height:85px;
	margin:0 auto;
	position:relative;
	z-index:999;
	-moz-box-shadow:3px 3px 5px #333;
	-webkit-box-shadow:3px 3px 5px #333;
	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
}

.home-banner .button {
	float:right;
	margin:28px 150px 0 0;
}

.homepage-callouts {
	width:278px;
	float:left;
	display:inline;
	margin-right:50px
}

.homepage-callouts .content {
	padding:10px 15px;
}

.homepage-callouts:first-child {
	margin-left:10px;
}

.homepage-callouts:last-child {
	margin:0;
}

.main {
	-moz-box-shadow:3px 3px 5px #333;
	-webkit-box-shadow:3px 3px 5px #333;
	box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	background:#fff;
	padding-top:20px;
}

.homepage-content-banner {
	background:#f3f1ed;
	-moz-box-shadow:3px 3px 5px #333;
	-webkit-box-shadow:3px 3px 5px #333;
	box-shadow:2px 2px 3px rgba(0,0,0,0.3);
	margin:20px 0;
	padding:10px 0;
}

.homepage-content-banner img {
	margin-left:30px
}

.sidebar-callout {
	float: right;
	margin:10px 0 50px 29px;
}

.sidebar h3 {
	color:#0081ab;
}

.sidebar h3 a {
	font-weight:bold;
}

.sidebar {
	background:url(../images/subnav-divide.gif) no-repeat 0% 0%;
}

/* Our Solutions */

.our-solutions .main {
	padding-top:250px;
}

.our-solutions li#menu-item-112 .sub-menu {
	display:block !important;
}

/* Parnter Area */

.partner-area li#menu-item-232 .sub-menu {
	display:block !important;
}

.partner-area li#menu-item-232 a {
	visibility:hidden !important;
	opacity:0 important;
}

/* Partner Area Menu */

#menu-partner-area {
	background:url(../images/dropdown-bg.png) repeat;
	border-radius:0px 0px 3px 3px !important;
	-webkit-box-shadow:0px 3px 5px #999;
	-moz-box-shadow:0px 3px 5px #999;
	box-shadow:0px 3px 5px rgba(0,0,0,0.6);
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	overflow:hidden;
}

#menu-partner-area li {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
	margin-top: 20px;
	padding:11px 87px 11px 5px;
	position: relative;
	width: auto;
}

#menu-partner-area li a {
	background: none repeat scroll 0 0 #908F8F;
	border-bottom: medium none;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0.6em;
	padding: 2px 0 2px 10px;
	text-transform: uppercase !important;
	width: 172%;
	text-decoration:none;
}

#menu-partner-area li a:hover {
	text-decoration:none;
}

#menu-partner-area .sub-menu {
	margin:0;
	width: 145%;
}

#menu-partner-area .sub-menu li {
	display: block;
	float: none;
	padding:0;
	margin:0;
}

#menu-partner-area .sub-menu li a {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #999999;
	color: #0081AB;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2em;
	margin: 3px 0 3px 10px;
	padding: 3px 0;
	text-transform: lowercase !important;
	width: 85%;
}

#menu-partner-area .sub-menu li a:hover {
	text-decoration:underline;
}

#menu-partner-area .sub-menu li.current-menu-item a {
	color:#666;
}

#menu-partner-area li#menu-item-225 .sub-menu li a {
	width:100%;
}

#menu-partner-area {
	margin:0 auto 10px auto;
	width: 96% !important;
}

.partner .main {
	padding:0;
}

.tab-nav li {
	display:inline;
	border-right:1px solid #666;
    margin-right: 3px;
    padding-right: 5px;
}

.tab-nav li a {
	font-weight:bold;
	text-transform:uppercase;
}

.tab-nav li.active a, .tab-nav li.current-menu-item a {
	color:#666;
}

.tab-nav li:last-child {
	border:none;
}

.dlm_download_list {

}

.dlm_download_list li {
	padding-bottom:10px;
	overflow:hidden;
	border-bottom:1px dashed #666;
}

.dlm_download_list .button {
   border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px !important;
    line-height: 13px;
    padding:5px 15px;
    text-decoration: none;
background: #f1f1f1; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

    border-color: #BBBBBB;
    color: #464646;
		box-shadow:none;
		text-transform:none;
		font-family:Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
}

/* Project Portfolio */

.project-portfolio #bgmp_map-canvas {
	display:block;
	border:1px solid #999;
	margin-bottom:30px;
}

.project-portfolio .tab-nav {
	margin-bottom:5px;
}

.project-portfolio h6 {
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:1px dotted #999;
}

.project-entry {
	border-bottom:1px dotted #999;
	padding-bottom:20px;
	margin-bottom:20px
}

.project-entry .project-image {
	float:left;
	width:220px;
	margin-right:10px;
	min-height:150px;
}

.project-entry .project-info {
	width:270px;
	float:left;
}

.project-entry h3, .project-entry p {
	margin-bottom:0px;
}

.project-entry a {
	font-weight:bold;
}

.project-profile-callout {
	background:#f3f2ee;
	border:1px solid #999;
	padding:10px;
	margin-top:50px;
	width:84% !important;
}

.project-profile-callout strong {
	text-transform:uppercase;
	color:#666;
	font-size:12px;
}

.project-profile-callout li {
	border-bottom:none !important;
	margin-bottom:20px !important;
}

.project-profile-callout p {
	margin:0;
}

/* Partner Profiles */

.partner-entry {
	border-bottom:1px dotted #999;
	padding-bottom:20px;
	margin-bottom:20px
}

.partner-entry .partner-image {
	float:right;
	width:220px;
	margin-right:10px;
	min-height:150px;
}

.partner-entry .partner-info {
	width:270px;
	float:left;
}

.partner-entry h3, .partner-entry p {
	margin-bottom:0px;
}

.partner-entry a {
	font-weight:bold;
}

.single-partner .slideshow-wrap {
	padding:0;
	margin-bottom:30px;
}

/* Publications */

.publication-entry {
	border-bottom:1px dotted #999;
	padding-bottom:20px;
	margin-bottom:20px
}

.publication-entry .publication-image {
	float:right;
	width:220px;
	margin-right:10px;
	min-height:150px;
}

.publication-entry .publication-info {
	width:270px;
	float:left;
}

.publication-entry p {
	font-size:12px;
	line-height:1.6em;
	margin-bottom:15px;
}

.publication-entry a {
	font-weight:bold;
}

/* Audio/Video */

.av-entry {
	border-bottom:1px dotted #999;
	padding-bottom:15px;
	margin-bottom:15px;
	overflow:hidden;
}

.av-entry img {
	float:left;
}

.av-entry p {
	float:left;
	margin:8px 0 0 25px;
	font-weight:bold;
}

.audio-and-video .bef-tabs {
	border-bottom:1px dotted #999;
	padding-bottom:10px;
	margin-bottom:10px
}

/* Landing Page */

.landing .slideshow-wrap {
	padding-bottom:15px;
}

.landing .slideshow-wrap img {
	margin:-15px auto 0px auto;
	display:block;
}

.landing .main {
	position:relative;
}

.landing .home-banner {
	padding:25px 0 15px 0;
	height:auto;
}

.landing .home-banner h1 {
	margin-left:25px;
}

.landing blockquote {
	font-size:20px;
	color:#666;
	position:relative;
	border:none;
	padding:9px 20px 0 32px;
}

.landing .cite {
	font-size:12px;
	text-align:right;
	font-style:normal;
	font-weight:bold;
}

.landing blockquote:before {
	content:url(../images/landing-bracket-left.gif);
	position:absolute;
	top:0;
	left:0;
}

.landing blockquote:after {
	content:url(../images/landing-bracket-right.gif);
	position:absolute;
	bottom:0;
	right:0;
}

.landing .link {
	text-align:right;
	clear:both;
	font-weight:bold;
	font-size:13px;
}

.landing-callouts {
	margin-bottom:30px !important;
}

/* Footer */

.columns.footer {
	width:230px;
	margin:0 60px 0 33px;
	top:12px;
}

.columns.footer.last {
	margin-right:0;
}

footer {
	padding:10px 0;
	margin-bottom:30px;
	background:url(../images/footer-bg.gif) bottom left repeat-x #dcd8cd;
}

footer p {
	font-size:11px;
	margin-bottom:0px;
	line-height:16px;
}

footer h2 {
	font-family:'dezen', sans-serif;
	font-size:12px;
	border-bottom:1px dotted #666;
	font-weight:normal;
	margin-bottom:5px;
	text-transform:uppercase;
}

.footer-nav {
	text-align:center;
	margin:20px 0 5px 0;
	position:relative;
	top:10px;
}

.footer-nav li {
	display:inline;
	border-right:1px solid #666;
	padding:0 7px;
}

.social {
	margin-top:10px;
}

.social li {
	display:inline
}

.social li a {
    background: url(../images/social.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 38px;
    text-indent: -9999em;
    width: 42px;
}
.social li.fb a {
    background-position: 0 0;
}
.social li.li a {
    background-position: -41px 0;
}
.social li.yt a {
    background-position: -81px 0;
}


#menu-item-253 {
	border-right:none;
}

.footer-nav li a {
	color:#0081ab;
	font-weight:normal;
}

.footer-nav li#menu-item-264 a {
	color:#666;
}

.footer-nav li#menu-item-264 a:hover {
	text-decoration:none;
	cursor:text;
}



.chee {
}

.copyright {
}

/* WordPress */
/* ----------------------------------------- */

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.wp-caption {
	border: 1px solid #eee;
	text-align: center;
	background: #f5f5f5;
	padding: 4px;
	margin: 10px;
}

.wp-caption p {
	margin-bottom: 0;
	font-size: 12px;
	font-style: italic;
}

/* Comments */
h3#comments, .comment-navigation, .comment-navigation:after, #respond:after, .comment-rss {
	display: block;
}

ol.commentlist {
	width: 100%;
}

ol.commentlist, li.authorcomment, li.comment, form#commentform, input#submit {
	margin: 0;
}

ol.commentlist, ol.commentlist ul, form#commentform {
	padding: 0;
}

ol.commentlist {
	border-bottom: 1px solid #ccc;
}

ol.commentlist ul {
	margin: 0 0 0 20px;
}

li.authorcomment, li.comment, form#commentform textarea, form#commentform input {
	border: 1px solid #ccc;
}

li.authorcomment, li.comment {
	padding: 10px 0 0 10px;
	list-style: none;
	border-bottom: none;
}

li.even {
	background: #fff;
}

li.odd {
	background: #efefef;
}

.authorcomment {
	background: #deebf9;
}

ul.children ul {
	margin-left: 20px;
}

ul.children li {
	border-right: none;
}

.vcard img {
	float: left;
	background: #c4c4c4;
}

.vcard img, .comment-navigation .newer a, .comment-navigation .older a {
	padding: 5px;
}

.comment-meta, ol.commentlist li small, p.subscribe-to-comments label {
	position: relative;
}

.comment-meta, ol.commentlist li small {
	top: 10px;
	left: 10px;
	font-size: 11px;
	color: #5F6A72;
}

.comment-meta {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5F6A72;
	margin-bottom: 5px;
}

.comment-text {
	margin: 15px 10px 0 0;
}

.reply, .comment-navigation .newer, input#submit {
	float: right;
}

.reply, .comment-navigation .newer a, .comment-navigation .older a, input#submit {
	background: #00728F;
}

.reply {
	margin: 0 10px 10px 0;
	background: none;
}

a.comment-reply-link, .reply a:link, .comment-navigation .newer a, .comment-navigation .older a, input#submit {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background: #f68235;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: 700;
}

a.comment-reply-link, .reply a:link {
	padding: 5px 0;
	font-size: 12px;
}

a.comment-reply-link, .reply a:link, input#submit {
	width: 70px;
}

a.comment-reply-link:hover, .reply a:hover, .comment-navigation .newer a:hover, .comment-navigation .older a:hover, input#submit:hover {
	background: #ffc424;
	background: none repeat scroll 0 0 #F68235;
	color: #603315;
	text-decoration: none;
	text-shadow: 0 1px 0 #fcae7b;
}

a.comment-reply-link:hover, .reply a:hover, input#submit:hover {
	width: 70px;
}

a.comment-reply-link:hover, .reply a:hover {
	padding: 5px 0;
}

a.comment-reply-link:hover, .reply a:hover, .comment-navigation .newer a:hover, .comment-navigation .older a:hover {
	border: none;
}

.comment-navigation {
	margin: 10px 0;
}

.comment-navigation:after, #respond:after {
	content: ".";
	height: 0;
	visibility: hidden;
}

.clear {
	clear: both;
}

.comment-navigation .newer a:hover, .comment-navigation .older a:hover {
	padding: 4px;
}

form#commentform textarea, form#commentform input {
	padding: 2px 3px;
}

form#commentform textarea {
	width: 90%;
}

input#submit {
	padding: 5px 0!important;
	border: 0!important;
}

input#submit, p.subscribe-to-comments input {
	outline: 0;
}

input#submit:hover {
	padding: 4px 0!important;
	border: 1px solid #ffc424!important;
	font-weight: 400;
	width: 70px;
}

p.subscribe-to-comments {
	background: url(images/email_32.png) no-repeat;
}

p.subscribe-to-comments, .comment-rss {
	height: 32px;
	text-indent: 42px;
	padding: 5px 0 0;
}

p.subscribe-to-comments input {
	margin: 5px 3px 3px!important;
	border: 0;
}

p.subscribe-to-comments label {
	top: -2px;
	color: #666;
}

.comment-rss {
	background: url(images/rss_32.png) no-repeat;
}

/*comment total stlying*/
.comment-total {
	text-align: center;
	font-size: 1.5em;
	color: #fff;
}

.comment-total span {
	font-size: 2em;
	color: maroon;
}

/* GravityForms */
/* ----------------------------------------- */

.landing .form {
    background: none repeat scroll 0 0 #ECECAA;
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 25px;
    padding: 15px 15px 0 15px;
    width: 386px;
	-moz-box-shadow:0 0 4px #d2d294;
	-webkit-box-shadow:0 0 4px #d2d294;
	box-shadow:0 0 4px #d2d294;
	margin-bottom:50px;
}

.gform_wrapper .bef-form {
	margin:0;
}

.gform_wrapper .bef-form li {
	margin-bottom:0;
}

.gform_wrapper .bef-form input {
	margin-bottom:3px;
}

.gform_wrapper .bef-form input[type="text"] {
}

.gform_wrapper .bef-form label {
	font-size:12px;
	color:#666;
}

.bef-form #field_1_2 {
    float: left;
    margin-right: 13px;
    width: 47%;
}

.bef-form #field_1_3 {
    clear: none;
    float: left;
    width: 47%;
}

.bef-form #field_1_2 input, .bef-form #field_1_3 input {
	width:100%;
}

.bef-form #field_1_4 {
}

.gform_wrapper .bef-form input.button {
		background: #ef6122;
	  border: 1px solid #fff;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding:0 8px;
	  -moz-border-radius: 15px;
	  -webkit-border-radius: 15px;
	  border-radius: 15px;
		-moz-box-shadow:3px 3px 5px #333;
		-webkit-box-shadow:3px 3px 5px #333;
		box-shadow:3px 3px 5px rgba(0,0,0,0.5);
	  color: #fff;
	  display: inline-block;
	  font-size: 12px;
	  font-weight: normal;
	  text-decoration: none;
	  cursor: pointer;
		font-stretch:1px;
		text-transform:uppercase;
	  font-family: 'dezen', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#gforms_confirmation_message {
	background:none !important;
	border:none !important;
	color:#4F3735;
	line-height:20px;
	margin:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

#gform_wrapper_1 .gform_footer {
	margin: 0 0 20px;
}

.gfield_error {
	opacity:1 !important;
}

.gform_wrapper .validation_message, .gform_wrapper li.gfield.gfield_error .gfield_description {
	display:none
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color:transparent !important;
	border:none !important;
	margin-bottom:0px !important;
	padding: 6px 6px 4px 0 !important;
}

.gform_wrapper .gfield_error input[type="text"], .gform_wrapper .gfield_error div.selector {
	border:2px solid #d2722d !important;
}

.gform_wrapper .gfield_error .gfield_required {
	color:#d2722d !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
	color:#d2722d !important;
	margin:0 10px 0 0 !important;
	padding: 0 !important;
}


.gform_wrapper .bef-form li.gfield.gfield_error.gfield_contains_required {
    margin:0 !important;
}

.validation_error {
	color:#DF1C1C !important;
	font-size:11px !important;
}

#gforms_confirmation_message {
	background-color: none !important;
	color: #666!important;
	border:none !important;
	font-size: 15px!important;
	margin-bottom: 40px!important;
}

.gform_validation_container {
	display: none!important;
	left: -9000px;
	position: absolute!important;
}
