/* #Media Queries
================================================== */

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {
	img {
		max-width: 100%;
		height: auto;
	}

/* Slideshow */
.slideshow-wrap {
	height: auto;
}

.subnav ul li {
	a {
		padding: 12px 0 12px 10px;
		display: block;
	}
	padding: 0;
	&.current-menu-item a {
		background: #eee;
	}
}
.columns.footer {
	margin: 0 0 0 33px;
	top: 12px;
	width: 205px;
}
.landing .form, .home-banner {
	width: auto;
}
.home h1 {
	margin: 28px 0 0 0;
}
.home-banner .button {
	float: right;
	margin: 28px 0 0;
}
#bgmp_map-canvas {
	display: none !important;
}
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#megaMenu {
		ul.megaMenu li {
			margin: 0 8px 15px 0 !important;
		}
		&.megaMenuHorizontal ul.megaMenu > li.menu-item > ul.sub-menu.sub-menu-1 {
			display: none !important;
		}
	}
	.our-solutions #megaMenu.megaMenuHorizontal ul.megaMenu li#menu-item-112 .sub-menu {
		display: block !important;
	}
	#megaMenu {
		li.ss-nav-menu-mega ul.sub-menu-1 > li {
			display: block !important;
			float: none !important;
		}
		ul {
			li.ss-nav-menu-mega ul.sub-menu li {
				margin: 0 !important;
			}
			&.megaMenu li {
				&:hover, &.current-page-ancestor, &#menu-item-112.current-menu-item {
					border-radius: 5px;
				}
				.sub-menu {
					margin-bottom: 0 !important;
				}
			}
			li.ss-nav-menu-mega ul li.ss-nav-menu-item-depth-1 {
				padding: 2px 6px !important;
			}
			&.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li {
				> a, &#menu-item-124 > a {
					width: auto;
				}
			}
		}
	}
	.our-solutions #megaMenu.megaMenuHorizontal ul.megaMenu li#menu-item-112 .sub-menu-1 {
		display: block !important;
		margin-top: 140px;
	}
	#megaMenu ul.megaMenu li#menu-item-374 {
		top: -44px;
	}
	.our-solutions .main {
		padding-top: 595px;
	}
	#menu-partner-area li {
		padding: 11px 45px 11px 5px;
	}
	.homepage-callouts {
		margin-right: 0;
		width: 240px;
	}
	.landing .home-banner h1, .open-rfps .home-banner h1 {
		font-family: Arial,Helvetica,sans-serif;
		font-size: 33px;
		line-height: 42px;
		margin-left: 25px;
	}
}

/* Mobile Only */
@media only screen and (max-width: 767px) {

/* Slideshow */
.slideshow-wrap {
	display: none;
}

.container.main {
	padding: 20px;
}
#megaMenu {
	ul.megaMenu li {
		margin: 0 8px 15px 0 !important;
	}
	&.megaMenuHorizontal ul.megaMenu > li.menu-item > ul.sub-menu.sub-menu-1 {
		display: none !important;
	}
}
.our-solutions #megaMenu.megaMenuHorizontal ul.megaMenu li#menu-item-112 .sub-menu {
	display: block !important;
}
#megaMenu {
	li.ss-nav-menu-mega ul.sub-menu-1 > li {
		display: block !important;
		float: none !important;
	}
	ul {
		li.ss-nav-menu-mega ul.sub-menu li {
			margin: 0 !important;
		}
		&.megaMenu li {
			&:hover, &.current-page-ancestor, &#menu-item-112.current-menu-item {
				border-radius: 5px;
			}
			.sub-menu {
				margin-bottom: 0 !important;
			}
		}
		li.ss-nav-menu-mega ul li.ss-nav-menu-item-depth-1 {
			padding: 2px 6px !important;
		}
		&.megaMenu li.ss-nav-menu-mega ul.sub-menu-1 > li {
			> a, &#menu-item-124 > a {
				width: auto;
			}
		}
	}
}
.our-solutions #megaMenu.megaMenuHorizontal ul.megaMenu li#menu-item-112 .sub-menu-1 {
	display: block !important;
	margin-top: 140px;
}
#megaMenu ul.megaMenu li#menu-item-374 {
	top: -44px;
}
.our-solutions .main {
	padding-top: 25px;
}
#menu-partner-area li {
	padding: 11px 45px 11px 5px;
}
#megaMenu {
	&.megaResponsive ul.megaMenu > li {
		width: 100% !important;
		background: #999;
		border-radius: 0;
		margin-bottom: 1px !important;
	}
	ul.megaMenu li {
		&:hover, &.current-page-ancestor, &#menu-item-112.current-menu-item {
			border-radius: 0;
			background: #F3F1EE;
		}
	}
}
header {
	background: #666666;
	box-shadow: 0 0 10px #000000;
	padding: 10px 0 20px;
}
.sidebar {
	background: none;
	border-top: 1px dotted #999;
}
.subnav {
	background: none;
}
.sidebar-callout {
	float: none;
	margin: 10px 0 30px 0;
}
.header-nav {
	position: static;
	text-align: center;
	li {
		a {
			color: #FFFFFF;
			display: inline-block;
			font-family: 'dezen',Arial,Helvetica,sans-serif;
			font-size: 15px;
			padding: 8px;
			text-transform: uppercase;
		}
		border: none;
		margin: 0;
		padding: 0;
	}
}
.st_sharethis {
	display: none;
}
.logo img {
	display: block;
	margin: 20px auto;
}
#megaMenu #megaMenuToggle {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
}
header .container {
	width: 95%;
}
.home h1 {
	font-size: 17px;
	margin: 15px 0 6px;
}
.home-banner .button {
	clear: both;
	display: block;
	float: none;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
.homepage-callouts {
	margin-right: 0;
	width: 90%;
	display: block;
	margin: 0 auto;
}
footer {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #EEEEEE;
	margin-bottom: 30px;
	padding: 10px 0;
}
.footer-nav {
	display: none;
}
footer h2 {
	font-size: 15px;
}
.columns.footer {
	margin: 0 0 20px 10px;
	top: 12px;
	width: 90%;
}
.footer-nav li {
	border-right: medium none;
	display: block;
	margin-bottom: 1px;
	padding: 0;
}
.footer-toggle {
	cursor: pointer;
	display: block;
	font-size: 10px;
	padding: 12px 15px;
	text-transform: uppercase;
}
.footer-nav-toggle {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	display: inline-block;
	float: right;
	height: 2px;
	margin-top: 10px;
	position: relative;
	width: 16px;
	&:before {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
		content: "";
		height: 2px;
		position: absolute;
		top: -4px;
		width: 16px;
	}
	&:after {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
		content: "";
		height: 2px;
		position: absolute;
		top: -8px;
		width: 16px;
	}
}
.footer-nav li a {
	background: none repeat scroll 0 0 #E0E0E0;
	color: #0081AB;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 15px 0;
	&:hover {
		text-decoration: none;
		background: #c8c8c8;
	}
}
.homepage-content-banner {
	padding: 10px;
}
.landing .home-banner h1, .open-rfps .home-banner h1 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	line-height: 37px;
	margin: 15px 0;
	text-align: center;
}
.landing .logo, .open-rfps .logo {
	display: block;
	position: static;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.subnav {
		margin-bottom: 15px !important;
	}
	.our-solutions {
		#megaUber.megaMenu {
			display: block !important;
		}
		#megaMenu.megaMenuHorizontal ul.megaMenu li#menu-item-112 .sub-menu-1 {
			display: block !important;
			margin-top: 258px;
		}
		.main {
			padding-top: 620px;
		}
	}
	#megaMenu.megaResponsive ul.megaMenu li.ss-nav-menu-mega ul.sub-menu.sub-menu-1 > li {
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {
	.subnav {
		margin-bottom: 15px !important;
	}
	.our-solutions {
		#megaUber.megaMenu {
			display: block !important;
		}
		#megaMenu.megaMenuHorizontal ul.megaMenu li#menu-item-112 .sub-menu-1 {
			display: block !important;
			margin-top: 288px;
		}
		.main {
			padding-top: 656px;
		}
	}
}